<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>game1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>062B69751F2B5677006B1F3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>062B698F1F2B5677006B1F3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>062B699A1F2B5677006B1F3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
